.layout-container {
  width: 100%;
  min-width: 250px;
  overflow: hidden;
}

.left-align-80 {
  width: 80%;
  text-align: left;
}

.left-align-60 {
  width: 60%;
  text-align: left;
}

.width-50-xl {
  width: 50%;
}

.width-40-xl  {
  width: 40%;
}

.height-300 {
  height: 300px;
}


.center-item {
  text-align: center;
  margin: 0px auto;
  display: flex;
  max-width: 55%;
}

.content-container {
  padding: 60px 1.5em 96px 1.5em;
  margin: auto;
  max-width: 1100px;
}

.top-space {
  padding-top: 10vh;
}

.bottom-space {
  padding-bottom: 10vh;
}

.overlay {
  position: relative;
  margin: -3em 0px;
}

.top-overlay-130 {
  position: relative;
  top: -130px;
  margin-top: 6rem;
}

.home-banner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin-top: 4rem;
}

.z-index-30 {
  z-index: 30 !important;
}

.z-index-50 {
  z-index: 50 !important;
}

.full-width {
  width: 100%;
  display: block;
  margin: 0px auto;
}

.full-screen {
  min-height: 100vh;
  position: relative;
}

.min-100-vh {
  min-height: 100vh;
}

.grid-2c {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow:dense;
  grid-gap: 88px;
}

.grid-3c {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow:dense;
  grid-gap: 60px;
}

.grid-logo-clients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow:dense;
  grid-gap: 25px;
  justify-items: center;
}

.self-flex-end {
  align-self: flex-end;
}

.domain-list {
  min-width: 35%;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  & a {
    color: $black;
  }
}

.services-container {
  display: flex;
  margin-top: 2.5rem;
}

.services-list {
  border-left: 1px solid;
  padding-left: 10%;
  height: fit-content;
}

.row-to-column {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  & img {
    width: 35%;
    margin-right: 10%;
  }
}

.row-no-margin-top {
  margin-top: 0px !important;
}

.icon-height-20 {
  height: 20%;
}

// ------------- Media Queries ---------------

@media(max-width: 680px) {
  .grid-2c {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .grid-3c {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

// Smartphone
@media(max-width: 420px) {
  .content-container {
    padding: 60px 10% 96px 10%;
    margin: auto;
    max-width: 1000px;
  }

  .width-50-xl {
    width: 100%;
  }

  .grid-2c {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-3c {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-logo-clients {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-align-80 {
      width: 100%;
      text-align: left;
  }

  .left-align-60 {
      width: 100%;
      text-align: left;
  }

  .center-item {
    padding-left: 0.1em;
    padding-right: 0.1em;
    max-width: 100%;
  }

  .self-flex-end {
    align-self: auto;
  }

  .services-container {
    height: auto;
    display: block;
    margin-top: 0rem;
  }

  .domain-list {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    flex-direction: row;
  }

  .services-list {
    border-left: none;
    padding-left: 0px;
  }

  .col-12 {
    padding-right: 0px;
    padding-left: 0px;
  }

  .row-to-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0px auto 2rem auto;
    & img {
      width: 100%;
      margin-right: 0%;
    }
    & a {
      width: 100%;
    }
  }

  .row-no-margin-top {
    margin-top: 24px !important;
  }
}


    // Tablet
@media(min-width: 420px) and (max-width: 880px) {
  .content-container {
    padding: 60px 3em 96px 3em;
  }
  .row-to-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 0px auto 2rem auto;
      & img {
        width: 50%;
        margin-right: 0%;
      }
    }
  }



