.layout-container {
  width: 100%;
  min-width: 250px;
  overflow: hidden;
}

.content-container {
  padding: 60px 40px 96px 40px;
  margin: auto;
  max-width: 1000px;
}

.newsletter-container {
  background-color: $light-grey;
  margin: 0px;
  padding: 34px 24%;
}

.top-space {
  padding-top: 62px;
}

.bottom-space {
  padding-bottom: 48px;
}

.home-banner {
  height: 90vh;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20vh;
}

.full-width {
  width: 100%;
  display: block;
  margin: 0px auto;
}

.full-screen {
  height: 100vh;
  width: 100vw;
}

// ---------- Grid -----------
.grid-2c {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 64px;
}

.grid-cases {
  display: grid;
  grid-template-columns: 1fr;

}

@media(min-width: 760px) {
  // Desktop
  .grid-2c {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow:dense;
    grid-gap: 88px;
    padding-top: 96px;
  }

  .grid-cases {
    grid-template-columns: 1fr 1fr;
    grid-auto-flow:dense;
    grid-column-gap: 88px;
    grid-row-gap: 0px;    margin: 0px 16%;
    & .content-container {
      padding: 8px 0px 96px 0px;
    }
  }
}
// ------------ About section -----------
// @media(min-width: 760px) {
  // Desktop
  .about {
    min-height: 70vh;
    //?? centrer le contenu dans la div
  }
// }

