.layout-container {
  width: 100%;
  min-width: 250px;
  overflow: hidden;
}

.left-align-80 {
  width: 80%;
  text-align: left;
}

.left-align-60 {
  width: 60%;
  text-align: left;
}

.center-item {
  text-align: center;
  margin: 0px auto;
  display: flex;
  max-width: 480px;
}

.content-container {
  padding: 60px 5em 96px 5em;
  margin: auto;
  max-width: 1000px;
}

.newsletter-container {
  background-color: $light-grey;
  margin: 0px;
  padding: 34px 24%;
}

.top-space {
  padding-top: 10vh;
}

.bottom-space {
  padding-bottom: 6vh;
}

.overlay {
  z-index: 1;
  position: relative;
  margin: -2em 0px;

}

.home-banner {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.full-width {
  width: 100%;
  display: block;
  margin: 0px auto;
}

.full-screen {
  height: 100vh;
  min-height: 560px;
  position: relative;
}


.grid-2c {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow:dense;
  grid-gap: 88px;
}

.grid-logo-clients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow:dense;
  grid-gap: 40px;
}
  // .grid-cases {
  //   grid-template-columns: 1fr 1fr;
  //   grid-auto-flow:dense;
  //   grid-column-gap: 88px;
  //   grid-row-gap: 0px;    margin: 0px 16%;
  //   & .content-container {
  //     padding: 8px 0px 96px 0px;
  //   }
  // }

// ------------- Media Queries ---------------

// Smartphone
@media(max-width: 400px) {
  .content-container {
    padding: 60px 3em 96px 3em;
    margin: auto;
    max-width: 1000px;
  }

  .grid-2c {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid-logo-clients {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-align-80 {
      width: 100%;
      text-align: left;
  }

  .center-item {
    padding-left: 2em;
    padding-right: 2em;
  }
}





