.header {
  width: 100%;
  position: fixed;
  z-index: 60;
  padding: 32px 0px 32px 8%;
  display: flex;
  justify-content: space-between;
  // change color on scroll
  background-color: transparent;
  transition: 0.7s background-color ease;
}

.header-white {
  @extend .header;
  display: none;
}


#yusa-logo-header {
  width: 20%;
  & img {
    max-width: 100%;
    min-width: 100px;
  }
}

