<section class="bg-black-gradient mb-4">
  <%= image_tag "bg-logo-black.svg", class: 'bg-logo-overflow' %>
  <div class="content-container home-banner">
    <h1 class="hero-title">Hello !<br>Bienvenue chez Yusa.</h1>
  </div>
</section>



<!-- Image -->

<div class="bg-black content-container">
  <h1>Nos services</h1>
  <p>Aliqua labore enim nulla ex enim incididunt. Duis quis nulla enim pariatur enim cillum aliquip laborum adipisicing id consequat id. Sint voluptate Lorem ipsum voluptate cupidatat culpa enim eu do enim eiusmod sint est qui.</p>

  <div class="offers top-space">
    <div class="card-p-bottom">
      <h2>Stratégie</h2>
      <ul>
        <li>Service</li>
        <li>Service</li>
        <li>Service</li>
        <li>Service</li>
        <li>Service</li>
      </ul>
    </div>
     <div class="card-p-bottom">
      <h2>Design</h2>
      <ul>
        <li>Service</li>
        <li>Service</li>
        <li>Service</li>
        <li>Service</li>
        <li>Service</li>
      </ul>
    </div>
    <div class="card-p-bottom">
      <h2>Content</h2>
      <ul>
        <li>Service</li>
        <li>Service</li>
        <li>Service</li>
        <li>Service</li>
        <li>Service</li>
      </ul>
    </div>
    <div class="card-p-bottom">
      <h2>Branding</h2>
      <ul>
        <li>Service</li>
        <li>Service</li>
        <li>Service</li>
        <li>Service</li>
        <li>Service</li>
      </ul>
    </div>
  </div>
</div>

<!-- Image -->

<div class="content-container">
  <h2 class="bottom-space">Nos valeurs</h2>
  <p>Aliqua labore enim nulla ex enim incididunt. Duis quis nulla enim pariatur enim cillum aliquip laborum adipisicing id consequat id. Sint voluptate Lorem ipsum voluptate cupidatat culpa enim eu do enim eiusmod sint est qui.</p>
  <p>Aliqua labore enim nulla ex enim incididunt. Duis quis nulla enim pariatur enim cillum aliquip laborum adipisicing id consequat id. Sint voluptate Lorem ipsum voluptate cupidatat culpa enim eu do enim eiusmod sint est qui.</p>
</div>

