<div class="bg-black-gradient full-screen">
  <div class="content-container home-banner z-index-50">
    <div class="hero-title">Yus'Academy</div>
    <div class="rubrique-description mt-4 left-align-80">Des formations pour apprendre à utiliser les bons outils, à employer les bonnes méthodes et devenir un expert de la conception de produits digitaux.</div>
    <%= link_to 'Nos formations', "/formations/#formations", class: 'cta-primary ml-0' %>
  </div>
</div>
<%= image_tag "bg-logo-black.svg", class: 'bg-logo-overflow' %>
<div class="bg-light">
  <div class="content-container">
    <div class="top-space">
      <span id="formations"></span>
      <h2 class="big-title">NOS FORMATIONS</h2>
      <!-- Formations ligne 1-->
      <div class="grid-2c">
        <div class="card-formation">
          <h3 class="rubrique-description font-weight-bold text-center pb-3 border-bottom">Prototyper rapidement vos applications</h3>
          <p class="p-bold mt-4">Apprenez à identifier un problème, générer des idées et les tester rapidement.</p>
          <ul class="mb-4">
            <li>L'analyse de l'existant et identification des freins</li>
            <li>L'organisation d'interviews utilisateurs et la récolte de données</li>
            <li>Le maquettages des interfaces</li>
            <li>Les tests d'utilisabilité</li>
          </ul>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="p-bold">3 jours</p>
            <p class="p-bold">2 000€</p>
          </div>
        </div>
        <div class="card-formation">
          <h3 class="rubrique-description font-weight-bold text-center pb-3 border-bottom">S'initier au Product Management</h3>
          <p class="p-bold mt-4">Pour être autonome au sein d'une équipe Product et maitriser les codes de la gestion de projet digital.</p>
          <ul class="mb-4">
            <li>L'organisation d'un projet</li>
            <li>La validation de l'idée</li>
            <li>La préparation et priorisation des développements</li>
            <li>La gestion du produit</li>
          </ul>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="p-bold">2 jours</p>
            <p class="p-bold">1 500€</p>
          </div>
        </div>
      </div>
      <!-- Formations ligne 2-->
      <div class="grid-2c">
        <div class="card-formation">
          <h3 class="rubrique-description font-weight-bold text-center pb-3 border-bottom">Concrétiser grâce au Design Sprint</h3>
          <p class="p-bold mt-4">La célèbre méthode de GV pour créer un produit en 5 jours. Désormais disponible dans votre entreprise.</p>
          <ul class="mb-4">
            <li>L'organisation d'un Design Sprint</li>
            <li>Les différentes ateliers</li>
            <li>Le prototypage de l'idée</li>
            <li>Les tests d'utilisabilité</li>
          </ul>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="p-bold">2 jours</p>
            <p class="p-bold">1 500€</p>
          </div>
        </div>
        <div class="card-formation">
          <h3 class="rubrique-description font-weight-bold text-center pb-3 border-bottom">Coder en<br>HTML & CSS</h3>
          <p class="p-bold mt-4">Pour être réaliser vous même des modifications sur votre site ou créer une interface "from scratch".</p>
          <ul class="mb-4">
            <li>Les bases de l'HTML et CSS</li>
            <li>Les composants et le style</li>
            <li>Le développement responsive</li>
            <li>Les librairies pour aller plus vite</li>
          </ul>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="p-bold">1 jour</p>
            <p class="p-bold">800€</p>
          </div>
        </div>
      </div>
      <!-- Formations ligne 3 -->
      <div class="grid-2c">
        <div class="card-formation">
          <h3 class="rubrique-description font-weight-bold text-center pb-3 border-bottom">Comprendre la User Research</h3>
          <p class="p-bold mt-4">Aller à la rencontre de vos utilisateurs et identifier ce qui peut être optimisé.</p>
          <ul class="mb-4">
            <li>La principe de la User Research</li>
            <li>Les interview utilisateurs</li>
            <li>L'optimisation du parcours utilisateurs</li>
            <li>Les tests d'utilisabilité</li>
          </ul>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="p-bold">1 jour</p>
            <p class="p-bold">800€</p>
          </div>
        </div>
        <div class="card-formation">
          <h3 class="rubrique-description font-weight-bold text-center pb-3 border-bottom">Concevez comme un UX Designer</h3>
          <p class="p-bold mt-4">Adopter les méthodologies et la pensée Utilisateur pour mener à bien vos projets.</p>
          <ul class="mb-4">
            <li>Les principes de l'expérience utilisateur</li>
            <li>Les méthodologies de conception</li>
            <li>L'analyse de la donnée</li>
            <li>Les outils pour gagner du temps</li>
          </ul>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="p-bold">1 jour</p>
            <p class="p-bold">800€</p>
          </div>
        </div>
      </div>
    </div>
    <a href="https://form.typeform.com/to/k3i4jYIv" class="cta-primary-black top-space typeform-share button" data-mode="drawer_right" data-submit-close-delay="2" target="_blank">Nous contacter</a>
    <p class="rubrique-description text-center top-space">Chaque formation se compose de parties théorique, mais surtout de mise en situation pratique. Désolé, mais vous ne resterez pas assis devant des slides. Nous vous ferons travailler. 🤷‍♂️</p>
  </div>
</div>
<div class="bg-black">
  <div class="content-container top-space">
    <div class="row-to-column">
      <p class="rubrique-description left-align-60 mb-0">Vous avez un besoin de formation spécifique ? Nous serons heureux de pouvoir vous proposer le programme qui correspons le plus à vos attentes.</p>
      <a href="https://form.typeform.com/to/yAbF7ePP" class="cta-primary my-3 typeform-share button" data-mode="drawer_right" data-submit-close-delay="2" target="_blank">Nous contacter</a>
    </div>
  </div>
</div>
<div class="content-container">
  <h3 class="rubrique-title w-50 mt-5 mb-4">Se former, toujours, tout le temps</h3>
  <div class="grid-2c">
    <div>
      <p>Concrétiser vos idées, c'est bien. Vous permettre de le faire vous même c'est mieux ! Chez Yusa, nous pensons que l'expertise doit se partager. A l'heure où la transition numérique est une obligation pour les entreprises, la culture du digital doit être présente à tous les étages de l'organisation.</p>
      <p>Avec nos formations, en physique ou à distance, vous possèderez l'ensemble des outils et processus qui vous permettrons d'être plus efficace dans la gestion de vos projets digitaux.</p>
    </div>
    <div>
      <p class="rubrique-description font-weight-bold">Sinon vous avez aussi la possibilité de nous laisser faire. Et promis, on vous montrera quand même comment ça marche.</p>
      <%= link_to 'Voir nos offres', '/#offres', class: 'cta-secondary-white ml-0' %>
    </div>
  </div>
</div>
