<div class="bg-black-gradient full-screen">
  <div class="content-container home-banner z-index-50 pb-1">
    <div class="hero-title">Yus'Academy</div>
    <div class="rubrique-description mt-4 left-align-80">Des formations basées sur vos propres sujets. Faite d'une pierre deux coups : formez vos équipes et accélérez vos projets.</div>
    <a href="https://form.typeform.com/to/k3i4jYIv" class="cta-primary btn-left-xl fixed-cta-mobile top-space typeform-share button" data-mode="drawer_right" data-submit-close-delay="2" target="_blank">En savoir plus</a>
    <%= image_tag 'arrow-d-white.svg', class: 'mt-5 mb-2' %>
  </div>
</div>
<%= image_tag "bg-logo-black.svg", class: 'bg-logo-overflow' %>
<div class="bg-light">
  <div class="content-container">
    <span id="nos-formations"></span>
    <div class="top-space">
      <h1 class="big-title">NOS FORMATIONS</h1>
      <div class="rubrique-description left-align-80 mb-5">Pour des collaborateurs plus autonomes et mieux préparés aux méthodologies de Product Management.</div>
      <!-- Formations ligne 1-->
      <div class="grid-2c">
        <div class="card-formation">
          <h3 class="rubrique-description font-weight-bold text-center pb-3 border-bottom">Prototyper rapidement vos applications</h3>
          <p class="p-bold mt-4">Apprenez à identifier un problème, générer des idées et les tester rapidement.</p>
          <ul class="mb-4">
            <li>Analyse de l'existant et identification des freins</li>
            <li>Organisation d'interviews utilisateurs et récolte de données</li>
            <li>Maquettage des interfaces</li>
            <li>Tests d'utilisabilité</li>
          </ul>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="p-bold">3 jours</p>
            <p class="p-bold">2 000€</p>
          </div>
        </div>
        <div class="card-formation">
          <h3 class="rubrique-description font-weight-bold text-center pb-3 border-bottom">S'initier au Product Management</h3>
          <p class="p-bold mt-4">Pour être autonome au sein d'une équipe Product et maîtriser les codes de la gestion de projet digital.</p>
          <ul class="mb-4">
            <li>Organisation d'un projet</li>
            <li>Validation de l'idée</li>
            <li>Préparation et priorisation des développements</li>
            <li>Gestion du produit</li>
          </ul>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="p-bold">2 jours</p>
            <p class="p-bold">1 500€</p>
          </div>
        </div>
      </div>
      <!-- Formations ligne 2-->
      <div class="grid-2c">
        <div class="card-formation">
          <h3 class="rubrique-description font-weight-bold text-center pb-3 border-bottom">Concrétiser grâce au Design Sprint</h3>
          <p class="p-bold mt-4">La célèbre méthode de GV pour créer un produit en 5 jours. Désormais disponible dans votre entreprise.</p>
          <ul class="mb-4">
            <li>Organisation d'un Design Sprint</li>
            <li>Les différents ateliers</li>
            <li>Prototypage de l'idée</li>
            <li>Tests d'utilisabilité</li>
          </ul>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="p-bold">2 jours</p>
            <p class="p-bold">1 500€</p>
          </div>
        </div>
        <div class="card-formation">
          <h3 class="rubrique-description font-weight-bold text-center pb-3 border-bottom">Coder en<br>HTML & CSS</h3>
          <p class="p-bold mt-4">Pour réaliser vous même des modifications sur votre site ou créer des interfaces "from scratch".</p>
          <ul class="mb-4">
            <li>Les bases de l'HTML et CSS</li>
            <li>Composants et styles</li>
            <li>Développement responsive</li>
            <li>Les librairies pour aller plus vite</li>
          </ul>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="p-bold">1 jour</p>
            <p class="p-bold">800€</p>
          </div>
        </div>
      </div>
      <!-- Formations ligne 3 -->
      <div class="grid-2c">
        <div class="card-formation">
          <h3 class="rubrique-description font-weight-bold text-center pb-3 border-bottom">Comprendre la User Research</h3>
          <p class="p-bold mt-4">Aller à la rencontre de vos utilisateurs et identifier ce qui peut être optimisé.</p>
          <ul class="mb-4">
            <li>Les principes de la User Research</li>
            <li>Interviews utilisateurs</li>
            <li>Optimisation du parcours utilisateur</li>
            <li>Tests d'utilisabilité</li>
          </ul>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="p-bold">1 jour</p>
            <p class="p-bold">800€</p>
          </div>
        </div>
        <div class="card-formation">
          <h3 class="rubrique-description font-weight-bold text-center pb-3 border-bottom">Concevoir comme un UX Designer</h3>
          <p class="p-bold mt-4">Adopter les méthodologies et la "pensée Utilisateur" pour mener à bien vos projets.</p>
          <ul class="mb-4">
            <li>Les principes de l'expérience utilisateur</li>
            <li>Méthodologies de conception</li>
            <li>Analyse de la donnée</li>
            <li>Les outils pour gagner du temps</li>
          </ul>
          <div class="d-flex justify-content-between border-top pt-3">
            <p class="p-bold">1 jour</p>
            <p class="p-bold">800€</p>
          </div>
        </div>
      </div>
    </div>
    <a href="https://form.typeform.com/to/k3i4jYIv" class="cta-primary-black hidden-mobile top-space typeform-share button" data-mode="drawer_right" data-submit-close-delay="2" target="_blank">En savoir plus</a>
    <p class="rubrique-description text-center top-space">Chaque formation se compose de parties théoriques, mais surtout de mises en situation pratiques.</p>
    <p class="description text-center">(Désolé, mais vous ne resterez pas assis devant des slides. Nous vous ferons travailler 🤓)</p>
  </div>
</div>
<div class="bg-black">
  <div class="content-container top-space">
    <div class="row-to-column mt-4">
      <p class="rubrique-description left-align-60 mb-0">Vous avez un besoin de formation spécifique ? Nous serons heureux de pouvoir vous proposer le programme qui correspond à vos attentes.</p>
      <a href="https://form.typeform.com/to/yAbF7ePP" class="cta-primary my-3 typeform-share button" data-mode="drawer_right" data-submit-close-delay="2" target="_blank" onClick="ga('send', 'event', { eventCategory: 'cta', eventAction: 'click', eventLabel: 'formation_perso'});">Nous contacter</a>
    </div>
  </div>
</div>
<div class="content-container">
  <h3 class="rubrique-title width-50-xl mt-5 mb-4">Se former, toujours, tout le temps.</h3>
  <div class="grid-2c">
    <div>
      <p>Vous accompagner dans la concrétisation de vos idées, c'est bien. Le faire par vous même, c'est mieux!</p>
      <p>Chez Yusa, nous pensons que l'expertise doit se partager. A l'heure où la transition numérique est une obligation pour les entreprises, la culture du digital doit être présente à tous les étages de l'organisation.</p>
    </div>
    <div>
      <p class="rubrique-description font-weight-bold">Avec nos formations, en physique ou à distance, vous possèderez l'ensemble des outils et processus qui vous permettrons d'être plus efficace dans la gestion de vos projets digitaux.</p>
      <%= link_to 'Revoir nos formations', formations_path(anchor:'nos-formations'), class: 'cta-secondary-white ml-0' %>
    </div>
  </div>
</div>
