<!-- Content container wrapped -->
<div class="content-container home-banner">
  <h1 class="landing-text">Accroche du site sur une à deux lignes maximum</h1>
</div>

<!-- Start-card -->
<div class="bg-black card-top-rounded">
  <div class="content-container">

    <!-- Grid -->
    <div class="grid-2c">
      <div class="bottom-space rubrique-description">
        Aliqua labore enim nulla ex enim incididunt. Duis quis nulla enim pariatur enim cillum aliquip laborum adipisicing id consequat id. Sint voluptate Lorem ipsum voluptate cupidatat culpa enim eu do enim eiusmod sint est qui.
      </div>

      <!-- Offers list -->
      <div class="offers">
        <div class="card-p-bottom">
          <div class="card-p-bottom-title">
            <h2>Type de prestation</h2>
            <i>x</i>
          </div>
          <p>Aliqua labore enim nulla ex enim incididunt. Duis quis nulla enim pariatur enim cillum aliquip laborum adipisicing id consequat id. Sint voluptate Lorem ipsum voluptate cupidatat culpa enim eu do enim eiusmod sint est qui.</p>
        </div>
        <div class="card-p-bottom">
          <div class="card-p-bottom-title">
            <h2>Type de prestation</h2>
            <i>x</i>
          </div>
          <p>Aliqua labore enim nulla ex enim incididunt. Duis quis nulla enim pariatur enim cillum aliquip laborum adipisicing id consequat id. Sint voluptate Lorem ipsum voluptate cupidatat culpa enim eu do enim eiusmod sint est qui.</p>
        </div>
        <div class="card-p-bottom">
          <div class="card-p-bottom-title">
            <h2>Type de prestation</h2>
            <i>x</i>
          </div>
          <p>Aliqua labore enim nulla ex enim incididunt. Duis quis nulla enim pariatur enim cillum aliquip laborum adipisicing id consequat id. Sint voluptate Lorem ipsum voluptate cupidatat culpa enim eu do enim eiusmod sint est qui.</p>
        </div>
        <div class="card-p-bottom">
          <div class="card-p-bottom-title">
            <h2>Type de prestation</h2>
            <i>x</i>
          </div>
          <p>Aliqua labore enim nulla ex enim incididunt. Duis quis nulla enim pariatur enim cillum aliquip laborum adipisicing id consequat id. Sint voluptate Lorem ipsum voluptate cupidatat culpa enim eu do enim eiusmod sint est qui.</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <!-- Clients section -->
<div class="content-container">
  <div class="clients">
    <div class="logo-list">
      <!-- grid ??? -->
    </div>
    <!-- Clients cards -->
    <!-- Index frist 3 clients -->
    <% @cases.each do |c| %>
      <div class="card-p-bottom">
        <%= link_to case_path(c) do %>
          <!-- img -->
          <%= image_tag(c.main_image, class: 'full-width') %>
          <!-- nom client -->
          <h3><%= c.client_name %></h3>
        <% end %>
      </div>
    <% end %>

    <!-- Contact card -->
    <div class="card-p-bottom">
      <!-- image -->
      <h3>Votre projet</h3>
      <p>Echangeons !</p>
    </div>
    <a class="contact-email" style="color: black;" href="mailto:contact@yusa.digital">contact@yusa.digital</a>
    <a class="cta-primary" href="#">Voir plus</a>
  </div>
</div>

<!-- About -->
<div class="bg-black content-container">
  <div class="about">
    <div class="rubrique-description">Aliqua labore enim nulla ex enim incididunt. Duis quis nulla enim pariatur enim cillum aliquip laborum adipisicing id consequat id. Sint voluptate Lorem ipsum voluptate cupidatat culpa enim eu do enim eiusmod sint est qui.</div>
    <a class="cta-primary-emphaze" href="about">YUSA ?</a>
  </div>
</div>

<!-- News -->
<div class="content-container pb-3">
  <!-- Index first 3 articles -->
  <div class="card-article">
    <!-- img -->
    <!-- title -->
    <!-- date -->
    <a class="cta-primary" href="#">Voir plus</a>
  </div>
</div>

