<section class="bg-dark-animated full-screen">
  <div class="text-background">
  <p class="big-text text-bg-moving1">Design Product Management Analytcs User Experience Digital Transformation User Branding Research Design Sprint Prototype UX Teaching Data Driven Collaborative</p>
  <p class="big-text text-bg-moving2">Analytcs Product Management User Experience Digital Transformation User Research Design Sprint Prototype UX Teaching Data Driven Collaborative</p>
  <p class="big-text text-bg-moving3">Design Product Management User Experience Digital Transformation User Research Analytcs Design Sprint Prototype UX Teaching Data Driven Collaborative</p>
  <p class="big-text text-bg-moving4">Product Management User Experience Branding Digital Transformation User Research Design Sprint Prototype UX Teaching Data Driven Collaborative</p>
  <p class="big-text text-bg-moving5">Product Management User Branding Experience Digital Transformation User Research Design Sprint Analytcs Prototype UX Teaching Data Driven Collaborative</p>
  <p class="big-text text-bg-moving5">Product Management User Experience Digital Transformation Analytcs User Research Design Sprint Prototype UX Teaching Data Driven Collaborative</p>
  </div>
  <div class="landing-container text-center overlay">
    <div class="container-logo top-space bottom-space">
      <%= image_tag("logo-full-white.svg") %>
      <h1 class="rubrique-description font-light animated-letter txt anim-text-flow">Sprint your digital transformation</h1>
    </div>
    <h2 class="bottom-space container-quarter">Nous accélérons l'idéation, <br> la conception et la concrétisation de <br> vos innovations digitales</h3>
    <div class="p-bold container-quarter d-flex justify-content-center align-items-center">Prochainement</div>
    <%= image_tag("arrow-d-white.svg") %>
  </div>
</section>
<section class="top-space bottom-space layout-container card-rounded bg-light overlay">
  <div class="content-container grid-2c top-space bottom-space">
    <div class="title-paragraph bottom-space">
      <h2 class="big-title">
        Time<br>Boxing
      </h2>
      <p class="smooth-text rubrique-description" style="display: none;">
        Nous aidons nos clients à éxécuter plus rapidement leur transformation digitale. Que vos objectifs soient de lancer un nouveau produit sur le marché, mettre en place un processus digitalisé, refondre votre site Internet ou repositionner votre marque, nous appliquons nos méthodologies qui vous permettront d’accélérer.
      </p>
    </div>
    <div class="title-paragraph bottom-space">
      <h2 class="big-title">
        Inspiré par vos <br>utilisateurs
      </h2>
      <p class="smooth-text rubrique-description" style="display: none;">
        Nos clients sont experts de leur métier, mais sont rarement spécialistes de l’expérience utilisateur. En ce sens, nous les aidons à mieux comprendre leurs clients, identifier les frictions et ainsi transformer leur présence digitale en canal de croissance. Notre objectif : créer des expériences digitales impactantes, renforcer l’identité de marque et concevoir des produits qui engagent vos utilisateurs. 
      </p>
    </div>
    <div class="title-paragraph bottom-space">
      <h2 class="big-title">
        Aligner les <br>équipes internes
      </h2>
      <p class="smooth-text rubrique-description" style="display: none;">
      Les entreprises que nous accompagnons sont régulièrement freinées par le poids de leur structure et des multiples parties prenantes. Nous intervenons en tant que facilitateur pour aligner et faire collaborer les équipes dans un même sens. Nous mettons la priorité sur les besoins des utilisateurs et alignons les efforts pour raccourcir vos prises de décision et vos processus de validation.
      </p>
    </div>
    <div class="title-paragraph bottom-space">
      <h2 class="big-title">
        Ecouter, Tester, <br>Repeter
      </h2>
      <p class="smooth-text rubrique-description" style="display: none;">
        Les modèles classiques et complexes de conception de produits digitaux ne permettent plus de combler le gap entre les attentes des utilisateurs et les objectifs des organisations. Nous travaillons ensemble pour identifier les opportunités du marché, prototyper et tester rapidement des solutions. Ainsi, nous diminuons drastiquement les délais de conception et pouvons nous adapter à toute évolution de la demande.
      </p>
    </div>
  </div>
</section>
