<div class="text-background">
<p class="big-text text-bg-moving1">Design Product Management Analytcs User Experience Digital Transformation User Branding Research Design Sprint Prototype UX Teaching Data Driven Collaborative</p>
<p class="big-text text-bg-moving2">Analytcs Product Management User Experience Digital Transformation User Research Design Sprint Prototype UX Teaching Data Driven Collaborative</p>
<p class="big-text text-bg-moving3">Design Product Management User Experience Digital Transformation User Research Analytcs Design Sprint Prototype UX Teaching Data Driven Collaborative</p>
<p class="big-text text-bg-moving4">Product Management User Experience Branding Digital Transformation User Research Design Sprint Prototype UX Teaching Data Driven Collaborative</p>
<p class="big-text text-bg-moving5">Product Management User Branding Experience Digital Transformation User Research Design Sprint Analytcs Prototype UX Teaching Data Driven Collaborative</p>
<p class="big-text text-bg-moving5">Product Management User Experience Digital Transformation Analytcs User Research Design Sprint Prototype UX Teaching Data Driven Collaborative</p>
</div>
<div class="landing-container text-center overlay">
  <div class="container-logo top-space bottom-space">
    <%= image_tag("logo-full-white.svg") %>
    <div class="rubrique-description font-light animated-letter txt anim-text-flow">Sprint your digital transformation</div>
  </div>
  <h2 class="bottom-space container-quarter">Nous accélérons l'idéation, <br> la conception et la concrétisation de <br> vos innovations digitales</h3>
  <div class="p-bold container-quarter d-flex justify-content-center align-items-center">Prochainement</div>
</div>
