<div class="content-container text-center">
  <div class="container-logo top-space bottom-space">
    <%= image_tag("logo-full-white.svg") %>
    <div class="rubrique-description font-light">Sprint your digital transformation</div>
  </div>
  <h2 class="top-space bottom-space container-quarter">L'innovation digitale autrement,<br>plus rapidement</h3>
  <div class="p-bold container-quarter d-flex justify-content-center align-items-center">Prochainement</div>
</div>
