<section class="bg-black-gradient position-relative pb-4">
  <%= image_tag "bg-logo-black.svg", class: 'bg-logo-overflow z-index-30 smedia-max-width' %>
  <div class="landing-container text-center position-relative z-index-50">
    <div class="container-logo top-space bottom-space">
      <%= image_tag("logo-full-white.svg") %>
      <h1 class="rubrique-description font-light animated-letter txt anim-text-flow">Sprint your digital transformation</h1>
    </div>
    <h2 class="bottom-space container-quarter">Nous accélérons l'idéation, <br> la conception et la concrétisation de <br> votre transformation digitale</h3>
    <div class="p-bold container-quarter d-flex justify-content-center align-items-center">Prochainement</div>
    <%= image_tag "arrow-d-white.svg", class: 'pb-5' %>
  </div>
</section>
<section class="top-space bottom-space overlay layout-container bg-light">
  <div class="content-container grid-2c top-space bottom-space">
    <div class="title-paragraph bottom-space">
      <h2 class="big-title">
        Time<br>Boxing
      </h2>
      <p class="smooth-text rubrique-description" style="display: none;">
        Nous aidons nos clients à éxécuter plus rapidement leur transformation digitale. Que vos objectifs soient de lancer un nouveau produit, mettre en place un processus digitalisé, repenser votre site Internet ou repositionner votre marque, nous appliquons des méthodologies qui vous permettront d’accélérer.
      </p>
    </div>
    <div class="title-paragraph bottom-space">
      <h2 class="big-title">
        Inspiré par vos <br>utilisateurs
      </h2>
      <p class="smooth-text rubrique-description" style="display: none;">
        Nous aidons nos clients à mieux comprendre leurs utilisateurs, identifier les frictions et ainsi transformer leur présence digitale en canal de croissance. Notre objectif : créer des expériences digitales impactantes, renforcer l’identité de marque et concevoir des produits qui engagent votre cible.   
      </p>
    </div>
    <div class="title-paragraph bottom-space">
      <h2 class="big-title">
        Aligner les <br>équipes internes
      </h2>
      <p class="smooth-text rubrique-description" style="display: none;">
      Les entreprises que nous accompagnons sont régulièrement freinées par le poids de leur structure. Nous intervenons en tant que facilitateur pour aligner et faire collaborer les équipes dans un même sens. Nous mettons la priorité sur les besoins des utilisateurs et alignons les efforts pour raccourcir vos prises de décision et vos processus de validation.
      </p>
    </div>
    <div class="title-paragraph bottom-space">
      <h2 class="big-title">
        Ecouter, Tester, <br>Repeter
      </h2>
      <p class="smooth-text rubrique-description" style="display: none;">
        Nous travaillons main dans la main pour identifier les opportunités du marché, prototyper et tester rapidement des solutions. Ainsi, nous diminuons drastiquement les délais de conception et pouvons nous adapter à toute évolution de la demande.
      </p>
    </div>
  </div>
</section>
