<div class="content-container pt-5 mt-5">
  <a href="/" class="top-space text-dark">Retour à l'accueil</a>
  <h1 class="top-space">Mentions légales</h1>
  <h2 class="mt-4">Editeur</h2>
  <p>
  Y usa est une marque commerciale de l’entreprise représentée par Monsieur Flavien Rosellini, enregistrée sous le numéro  880 085 782, et dont l’adresse commerciale est située au 203 corniche du président John Fritzgerald Kennedy, 13007 Marseille - France.
  </p>
  <p>
    Le site yusa.digital est édité par l’entreprise représentée par Monsieur Flavien Rosellini, également responsable de la publication. L’entreprise est enregistrée sous le numéro  880 085 782, et l’adresse commerciale est située au 203 corniche du président John Fritzgerald Kennedy, 13007 Marseille - France.
  </p>
  <p>
    L’éditeur est joignable par courrier électronique à l’adresse <a href="mailto:contact@yusa.digital">contact@yusa.digital</a>. <br>
    Le site yusa.digital est hébergé par la société Heroku Inc., 650 7th Street, San Francisco, CA (tel : +33 1 (877) 563-4311).
  </p>
  <h2>Propriété intellectuelle</h2>
  <p>
    La présentation et la reproduction de chacun des éléments, y compris les marques, logos et noms de domaine apparaissant sur le site www.yusa.digital sont protégées par les lois en vigueur sur la propriété intellectuelle.
  </p>
  <p>
    Aucun élément composant le site www.yusa.digital ne peut être copié, reproduit, modifié, réédité, dénaturé ou distribué de quelque manière que ce soit sous quelque support que ce soit même de façon partielle ou intégrale, sans l'autorisation préalable de l’éditeur.
  </p>
  <p>
    Pour obtenir l’accord de l’éditeur merci de nous contacter à <a href="mailto:contact@yusa.digital">contact@yusa.digital</a>.
  </p>
  <h1 class="mt-5">Conditions Générales d'Utilisation</h1>
  <p class="mt-4">
    Les présentes Conditions Générales d’Utilisation viennent compléter les dispositions contenues sur le présent site, et notamment, les mentions légales.
  </p>
  <p>
    L’utilisation du site www.yusa.digital implique l’acceptation pleine et entière des Conditions Générales d’Utilisation (CGU) décrites ci-aprés.
  </p>
  <p>
    Les présentes Conditions Générales d'Utilisation ont pour objet de définir les conditions et les modalités d'utilisation des services proposés par l’Editeur sur le présent Site. L'Utilisateur s'engage à accepter et respecter les présentes Conditions Générales d'Utilisation. Ainsi, toute connexion ou accès au Site, est subordonné au respect des présentes Conditions Générales d’Utilisation.
  </p>
  <p>
    Est Utilisateur, toute personne qui se connecte sur une page du Site ou navigue sur le Site.
  </p>
  <p>
    Les CGU sont susceptibles d’être modifiées ou complétées à tout moment, sans préavis, aussi les Utilisateurs du site sont invités à les consulter de manière régulière. L’Utilisateur est réputé les accepter sans réserve et s’y référer régulièrement pour prendre connaissance des modifications.
  </p>
  <p>
    L’Editeur se réserve aussi le droit de céder, transférer, ce sans préavis les droits et/ou obligations des présentes CGU et Mentions Légales. En continuant à utiliser les Services du site www.yusa.digital, l’Utilisateur reconnaît accepter les modifications des conditions générales qui seraient intervenues.
  </p>
  <p>
    Le site www.yusa.digital est par principe accessible aux Utilisateurs 24/24h, 7/7j, sauf interruption, programmée ou non, pour les besoins de sa maintenance ou cas de force majeure. En cas d’impossibilité d’accès au service, l’Editeur s’engage à faire son maximum afin de rétablir l’accès au service et s’efforcera alors de communiquer préalablement aux Utilisateurs les dates et heures de l’intervention. N’étant soumis qu’à une obligation de moyen, l’Editeur ne saurait être tenu pour responsable de tout dommage, quelle qu’en soit la nature, résultant d’une indisponibilité du service.
  </p>
  <h2>Description du service</h2>
  <p>
    Le site www.yusa.digital a pour objet de fournir une information sur l’activité et les offres de services fournies par l’entreprise représentée par Monsieur Flavien Rosellini.
  </p>
  <p>
    L’Editeur du site s’efforce de fournir sur le site www.yusa.digital des informations aussi précises que possible. Toutefois, il ne pourra être tenue responsable des omissions, des inexactitudes et des carences dans la mise à jour, qu’elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.
  </p>
  <p>
    Tous les informations proposées sur le site www.yusa.digital sont données à titre indicatif, sont non exhaustives, et sont susceptibles d’évoluer. Elles sont données sous réserve de modifications ayant été apportées depuis leur mise en ligne.
  </p>
  <h2>Responsabilité de l'éditeur</h2>
  <p>
    L’Editeur ne consent aucune garantie, expresse, implicite, contractuelle ou autre, et exclut en particulier toute garantie concernant l'exactitude de tout contenu du Site et/ou son aptitude à répondre aux attentes et/ou aux besoins particuliers de tout Utilisateur. Plus particulièrement, L’Editeur exclut toute garantie et responsabilité de sa part du fait de toutes informations à caractère ou non général, de toutes analyses ou appréciations qu'elle pourrait communiquer sur le Site. Il appartient en conséquence à l'Utilisateur de se renseigner et de se faire conseiller, le cas échéant, sous sa propre responsabilité.
  </p>
  <p>
    En aucun cas, l’Editeur ne pourra être tenu responsable de quelque dommage immatériel et/ou indirect que ce soit, et notamment pertes de profit, pertes de bénéfice, pertes de clientèle, pertes de données, trouble commercial quelconque résultant de l'utilisation ou de l'incapacité d'utilisation d'Internet, même si l’Editeur était avisé au préalable de la possibilité de tels endommagements.
  </p>
  <p>
    En outre, l’Editeur n'offre aucune garantie que les informations et/ou les éléments accessibles via ce Site sont exacts, complets ou actualisés, ni que ce Site ne contient aucun virus ou éléments néfastes pour l'Utilisateur.
  </p>
  <p>
    Le site contient ou peut donner accès notamment à des informations, éléments ou services qui peuvent être fournis par des Partenaires de l’Editeur ou tout tiers.
  </p>
  <p>
    En ce cas, l’Editeur ne garantit pas l'exactitude, l'actualité, l'exhaustivité ou la pertinence de ces informations, éléments ou services et, ne saurait être tenue pour responsable si l'un d'eux venait à enfreindre tout droit de propriété intellectuelle ou autres droits de toute personne ou toute réglementation applicable.
  </p>
  <h2>Responsabilités de l'Utilisateur</h2>
  <p>
    L'Utilisateur est seul responsable de l'usage qu'il fait des fonctionnalités proposées par les services mis en ligne par l’Editeur. L'Utilisateur reconnaît expressément que l'Utilisation du Site est à ses propres risques. Le Site est fourni en l'état et sans garantie autre.
  </p>
  <p>
    L'Utilisateur est seul responsable de l'identité qu'il décline et du contenu des messages qu'il adresse. Toute utilisation de toute donnée réalisée à partir de l'adresse électronique de l'Utilisateur est réputée avoir été réalisée par celui-ci.
  </p>
  <p>
    L'Utilisateur assume tous risques liés à une perte de profits, perte de données, erreurs, perte d'informations commerciales ou autre résultant de l'utilisation du Site.
  </p>
  <p>
    L'Utilisateur de ce Site prend à sa charge tous les coûts et tous les risques liés à l'utilisation du Site.
  </p>
  <h2>Propriété intellectuelle</h2>
  <p>
    L’Editeur du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels… Toute reproduction, représentation, modification, publication, adaptation totale ou partielle des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable.
  </p>
  <p>
    Pour obtenir l’accord de l’Editeur merci de nous contacter à <a href="mailto:contact@yusa.digital">contact@yusa.digital</a>.
  </p>
  <p>
    Toute exploitation non autorisée du site ou de l’un quelconque de ces éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
  </p>
</div>
