<div class="bg-black-gradient full-screen mb-4">
  <div class="content-container home-banner z-index-50">
    <h1 class="hero-title">Hello !<br>Bienvenue chez Yusa.</h1>
  </div>
</div>
<%= image_tag "bg-logo-black.svg", class: 'bg-logo-overflow' %>
<div class="layout-container content-container">

</div>

