.bg-black {
  background-color: $black !important;
  color: $white;
  & a {
    color: $white;
  }
}

.bg-dark {
  background-color: $dark-blue !important;
  color: $white;
}

.bg-light {
  background: linear-gradient(294.9deg, #EAEAEA 4.81%, rgba(234, 234, 234, 0.14) 47.85%);
}

.bg-yellow {
  background-color: $yellow;
}

.bg-footer {
  background-color: $dark-grey;
  color: $white;
}

.bg-dark-animated {
  background: linear-gradient(-45deg, #202C40, #1E1E1E);
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  color: $white;
  overflow: hidden;
}

.bg-light-gradient {
  background: linear-gradient(291.19deg, #EAEAEA 3.75%, rgba(234, 234, 234, 0.14) 102.73%);
  color: $dark-blue;
  overflow: hidden;
}

.bg-black-gradient {
  background: linear-gradient(286.22deg, #1E1E1E 54.9%, #282828 85.15%);
  color: white;
  overflow: hidden;
}

.bg-logo-light {
  position: absolute;
    right: -40px;
    bottom: 2px;
  overflow: hidden;
  max-width: 100%;
  z-index: 0;
}

.bg-logo-overflow {
  position: absolute;
    right: 0px;
    bottom: -17%;
  overflow: hidden;
  max-width: 100%;
  z-index: 0;
}

@media (max-width: 420px) {
  .smedia-max-width {
    max-width: 147%;
  }
  .bg-logo-overflow {
    bottom: -5%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
