
.card-rounded {
  border-radius: 25px 25px 25px 25px;
  box-shadow: 6px 16px 33px rgba(0, 0, 0, 0.05);
}

.card-top-rounded {
  border-radius: 25px 25px 0px 0px;
  box-shadow: 0px -15px 23px rgba(0, 0, 0, 0.09);
}

.card-bottom-rounded {
  border-radius: 0px 0px 25px 25px;
}

.card-p-bottom-title {
  display: flex;
  align-items: center;
  padding-top: 16px;
}

.card-p-bottom {
  padding-bottom: 1em;
  & a {
    color: $black;
  }
}

.card-faq {
  padding-bottom: 36px;
  & h2 {
    padding-bottom: 16px;
  }
}

.card-client a {
  color: $black;
}

.card-methode {
  background: #F6F7F7;
  box-shadow: -9px -12px 36px #FFFFFF, 9px 12px 24px rgba(183, 183, 183, 0.33), -6px -18px 4px rgba(255, 255, 255, 0.38), inset 4px 6px 6px rgba(255, 255, 255, 0.08);
  border-radius: 17px;
  padding: 1rem 2rem;
  transition: 400ms ease all;
  &:hover {
    background: #FFD02B;
    box-shadow: 0px 4px 55px rgba(255, 208, 43, 0.84);
    border-radius: 17px;
  }
}

.card-white {
  background: #FAFAFA;
  box-shadow: 0px 4px 55px rgba(0, 0, 0, 0.08);
  padding: 1rem 2rem;
  color: $black;
}

.card-formation {
  @extend .card-methode;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.card-title-black-overleft {
  position: relative;
  padding: 10px 20px;
  margin-left: -20%;
}

@media(max-width: 420px) {
  .margin-top-xs {
    margin-top: 2.4rem;
  }

  .card-on-xs {
    border-radius: 25px 25px 25px 25px;
    box-shadow: 6px 16px 33px rgba(0, 0, 0, 0.05);
    padding: 1.5rem 1rem;
  }
}
