
.text-field {
  background: #E9F1F1;
  border-radius: 10px;
  border: none;
  width: 100%;
  padding: 0.4em 1em;
  margin: 1em 0px;
  &:hover {
    background: #FFFFFF;
    border: 1px solid rgba(40, 40, 40, 0.14);
    box-sizing: border-box;
    box-shadow: 0px 0px 9px #FFD02B;
    border-radius: 8px;
  }
  &:focus {
    background: #FFFFFF;
    border: 1px solid rgba(40, 40, 40, 0.14);
    box-sizing: border-box;
    box-shadow: 0px 0px 9px #36f971;
    border-radius: 8px;
    outline: none;
  }
}

.form-card {
  box-shadow: 6px 16px 33px rgba(0, 0, 0, 0.05);
  border-radius: 25px 25px 25px 25px;
  padding: 2em 1.8em 2em 1.8em;
}

