// Animation on pitch

.anim-text-flow,
.anim-text-flow-hover:hover {

  $animationSteps: 20;
  $animationDuration: 50;
  $animationElement: span;
  $animationElementsCount: 100;
  $delayBetweenLetters: 0.5;

  #{$animationElement} {
    animation-name: anim-text-flow-keys;
    animation-duration: #{$animationDuration}s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }

  @keyframes anim-text-flow-keys {
    @for $i from 0 through $animationSteps {
      #{percentage($i * (1 / $animationSteps))} {
        color: hsla(240, 10%, random(80), 1);
      }
    }
  }

  $totalDelayTime: $animationElementsCount * $delayBetweenLetters;

  @for $i from 1 through $animationElementsCount {
    #{$animationElement}:nth-of-type(#{$i}) {
      animation-delay: #{($i * $delayBetweenLetters) - $totalDelayTime}s;
    }
  }
}

//------- Smooth paragrah ---------

.smooth-text{
  animation: an 1s ease-out 1 both;
}

@keyframes an{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

// ------- Display on hover --------
.hidehover {
  transition: 0.5s ease all;
}




