// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.intro-image {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 30;
  width: 60%;
  opacity: 0.5;
  margin-top: 2rem;
}

.article-container {
  padding: 60px 3em 96px 3em;
  margin: auto;
  max-width: 800px;
}

@media(max-width: 880px) {
  .intro-image {
    position: relative;
    width: 100%;
    opacity: 1;
    margin-top: 1rem;
  }

  .article-container {
    padding: 1rem 0rem 2rem 0em;
    margin: auto;
    max-width: 1000px;
  }
}
