<div class="full-width bg-dark card-top-rounded bottom-space">
  <div class="content-container pb-3">
    <div class="left-align-80">
      <h3 class="bottom-space top-space rubrique-title">FAQ</h3>
      <div class="card-p-bottom mb-5 trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="pb-3">Quels sont vos domaines d'expertises</h3>
          <i class="fas fa-caret-down fas-stylized trigger-active"></i>
        </div>
        <div class="todeploy">
          <p>L'expérience utilisateur est le pilier fondateur de notre activité. Historiquement spécialisés dans la conception de produits digitaux et la refonte de parcours utilisateur, nous avons rapidement étendu notre offre vers des domaines de création comme l'identité de marque, la stratégie de contenu et le conseil en conception d'interfaces digitales. Nous sommes convaincu que l'UX et le Branding sont indissociables dans la mise en place d'une expérience globale cohérente et efficace.</p>
          <p>Les projets que nous menons s'étendent de la mise en place de stratégie de transformation digitale à la refonte visuelle d'une marque existante. Nous vous accompagnons durant tout le cycle projet pour créer des expériences qui rendent vos utilisateurs heureux : user research, design sprint, product roadmap, management de projet, identité visuelle, création de contenu, tests d'utilisateur, prototypage, développement front-end...</p>
          <p>Nous pouvons également vous accompagner dans les phases projets qui suivent la livraison de nos travaux. Généralement, nos clients continuent à faire appel à nous pour les aider à piloter le développement global de leur produit, car nous avons acquis au fil de la prestation une fine connaissance du contexte dans lequel se trouve l'entreprise. Là encore, si vous souhaitez une compétence particulière que nous n'avons pas en interne, notre réseau nous permet de vous proposer l'expertise dont vous avez besoin au moment opportun.</p>
        </div>
      </div>
      <div class="card-p-bottom mb-5 trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="pb-3">Où êtes-vous localisés ? </h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Nous sommes basés à Marseille. Mais nous intervenons là où nos clients se situent. En présentiel ou en remote, nos méthodologies s'adaptent à vos conditions et vos besoins. </p>
        </div>
      </div>
      <div class="card-p-bottom mb-5 trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="pb-3">Qu'est ce qui vous différencie d’une agence digitale traditionnelle?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Il existe un grand nombre d'agences implantées sur le territoire national. En tant que client, faire un choix dans cette multitude d'acteurs n'est souvent pas évident. Notre différenciation se fait sur plusieurs points :</p>
          <p>Nous avons tout d'abord constaté auprès de nos clients, que de nombreuses agences ne s'appuyaient pas sur les utilisateurs pour construire leur projet. Chez Yusa, nous nous engageons à passer du temps avec eux pour comprendre réellement leurs besoins. Nous ne simulerons jamais de panels clients, ni supposeront de ce que pensent ou veulent vos utilisateurs finaux.</p>
          <p>Ensuite, nous sommes proches de nos clients et adorons les impliqués dans nos travaux. Cela fait même parti des méthodologies que nous mettons en place : vous êtes avec nous pendant 2 à 3 jours lors de nos Design Sprint, nous vous faisons écouter les interviews en live pour que vous preniez connaissance des réels ressentis de vos utilisateurs, nous itérons ensemble sur chaque phase du projets pour assurer une conception optimale du produit créé.</p>
          <p>Nous avons la plus grande exigence quant à la qualité d'exécution de nos prestations et des livrables que nous remettons à nos clients. On ne peut pas se prétendre expert de l'UX et de la marque, sans être focalisé à 100% sur le rendu final.</p>
          <p>Enfin, contrairement à la plupart des agences digitales traditionnelles, nous combinons les domaines d'activité de la création et du branding, à ceux de la digitalisation. En quelque sorte, nous avons mis sous un même toi un cabinet de conseil en transformation digitale et un studio d'identité de marque.</p>
        </div>
      </div>
      <div class="card-p-bottom mb-5 trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="pb-3">Qu'entendez-vous par branding ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Par "Branding" vous pouvez entendre toute les opérations qui vont permettre de faire de votre entreprise une marque à part entière, unique et authentique. Vous vous démarquerez ainsi plus facilement sur votre marché et fidéliserez vos utilisateurs finaux par une expérience globale optimale.</p>
          <p>Nos interventions sur ce domaine passent par la création d'identités visuelles, la compréhensions des perceptions utilisateurs, la stratégie de marque, la création de contenu, la conception de logos, l'élaboration de guidelines de marque... Nous sommes capables de vous accompagner tout au long de votre projet ou sur une partie si vous avez déjà des éléments de base sur lesquels vous avez travaillé.</p>
        </div>
      </div>
      <div class="card-p-bottom mb-5 trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="pb-3">Travaillez-vous aussi avec des entreprises de petites tailles ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Nous avons l'habitude de collaborer avec tout type d'organisation. Même si nous avons passé plus de temps au sein de grands groupes, nous accompagnons évidemment des start-ups, des petites sociétés, comme des entreprises de taille intermédiaire. </p>
          <p>En tant que boutique conseil UX et Branding, nous avons un fort impact auprès des fondateurs de start-ups et entrepreneurs. Nous nous impliquons à 100% dans chaque mission et privilégions les rapports humains plutôt que les prestations en silo et à distance.</p>
          <p>Basés à Marseille, nous avons à coeur de travailler avec les acteurs économiques locaux, pour donner vie à des idées innovantes et en phase avec l'environnement dynamique dans lequel nous nous trouvons. </p>
          <p>Nous proposons des tarifs spéciaux pour les start-ups ou porteurs de projet auxquelles nous croyons. N'hésitez pas à nous contacter, pour en savoir plus.</p>
        </div>
      </div>
      <div class="card-p-bottom mb-5 trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="pb-3">Peut-on faire appelle à vous pour la création d'un outil interne destiné à nos collaborateurs ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Bien sûr ! L'utilisateur n'est pas forcément celui qui réalise l'acte d'achat, ça peut aussi être votre collaborateur ou votre partenaire commercial. Dans ce cas, pourquoi ne pas lui proposer la meilleure expérience possible de vos outils digitaux ?</p>
          <p>Vous vous êtes forcément déjà agacés de perdre du temps à réaliser des tâches à faible valeur ajoutée, ou énervés devant un outil au fonctionnement incompréhensible et peu intuitif. Si vous comptez sur une année, le nombre d'heures passées à contourner ces problèmes et que vous le ramenez à votre taux horaire... le montant peut vite s'avérer astronomique.</p>
          <p>Donc oui, nous pouvons vous accompagner sur la réflexion et la mise en place d'un outil qui pourra améliorer l'efficacité de votre activité ou automatisera certaines tâches, et qui rendra surtout vos collaborateurs heureux. Nous sommes convaincus que vous bénéficierez d'un réel retour sur investissement.</p>
        </div>
      </div>
      <div class="card-p-bottom mb-5 trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="pb-3">Comment puis-je vous poser une autre question ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Ecrivez-nous ! Nous serons ravis de vous répondre dans les plus bref délais.</p>
          <a class="contact-email mb-4" href="mailto:contact@yusa.digital" style="color: white;">contact@yusa.digital</a>
        </div>
      </div>
    </div>
  </div>
</div>
