<div class="full-width bg-dark card-top-rounded bottom-space">
  <div class="content-container pb-3">
    <div class="left-align-80">
      <h3 class="bottom-space top-space big-title">FAQ</h3>
      <div class="card-p-bottom trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">Quels sont vos domaines d'expertises ?</h3>
          <i class="fas fa-caret-down fas-stylized trigger-active"></i>
        </div>
        <div class="todeploy">
          <p>L'expérience utilisateur est le pilier fondateur de notre activité. Historiquement spécialisés dans la conception de produits digitaux, notre expérience nous a montré qu'il ne servait à rien de réaliser des roadmaps à long terme tant que le produit n'avait pas été validé par ses utilisateurs.</p>
          <p>Nous maitrisons les domaines de compétence du Product Management et de l'UX/UI Design. A cela, nous avons déployé nos propres méthodologies et processus de conception pour accélérer la concrétisation d'idée et automatiser certaines tâches à faibles valeur ajoutée.</p>
        </div>
      </div>
      <div class="card-p-bottom trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">Où êtes-vous localisés ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Nous sommes basés à Marseille, mais nous intervenons là où nos clients se situent. En présentiel ou en remote, nos méthodologies s'adaptent à vos conditions et vos besoins.</p>
        </div>
      </div>
      <div class="card-p-bottom trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">Qu'est ce qui vous différencie d’une agence digitale traditionnelle ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Nous sommes spécialisés dans la création de produits digitaux et d'expériences utilisateur efficaces.</p>
          <p>A l'inverse des agences digitales 360 qui proposent un large catalogue de prestations dans lequel il est parfois difficile de faire un choix, nous mettons en avant un savoir spécifique, ou plutôt une méthodologie, qui vous permet rapidement de passer de l'idée au concret.</p>
        </div>
      </div>
      <div class="card-p-bottom trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">En quoi votre méthodologie est efficace ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Nos expériences diverses auprès de clients grands comptes et de jeunes start-ups nous ont permis d'identifier les leviers qui permettaient de transformer une idée en succès. Nous avons donc choisi de rassembler sous une même offre l'ensemble de ces leviers.</p>
          <p>Chez Yusa nous vous aidons à façonner vos idées par des dispositifs d'expérimentation et de validation. En ce sens, nous accentuons nos efforts sur la recherche utilisateur et le prototypage d'interface. Nous ajustons nos travaux en fonction des retours que nous obtenons, pour délivrer un produit répondant parfaitement aux attentes de vos utilisateurs.</p>
        </div>
      </div>
      <div class="card-p-bottom trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">Travaillez-vous aussi avec des entreprises de petites tailles ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Nous avons l'habitude de collaborer avec tout type d'organisation. Même si nous avons passé plus de temps au sein de grands groupes, nous accompagnons évidemment des start-ups, des petites sociétés, comme des entreprises de taille intermédiaire.</p>
          <p>En tant que professionnel du digital, nous avons un fort impact auprès des fondateurs de start-ups et entrepreneurs. Nous nous impliquons à 100% dans chaque mission et privilégions les rapports humains plutôt que les prestations en silo et impersonnelles.</p>
          <p>Nous proposons des tarifs spéciaux pour les start-ups ou porteurs de projet auxquelles nous croyons. N'hésitez pas à nous contacter, pour en savoir plus 😉</p>
        </div>
      </div>
      <div class="card-p-bottom trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">Peut-on faire appelle à vous pour la conception d'un outil interne destiné à nos collaborateurs ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Bien sûr ! L'utilisateur n'est pas forcément celui qui réalise l'acte d'achat, ça peut aussi être votre collaborateur ou votre partenaire commercial. Dans ce cas, pourquoi ne pas lui proposer la meilleure expérience possible de vos outils digitaux ?</p>
          <p>Vous vous êtes forcément déjà agacés de perdre du temps à réaliser des tâches à faible valeur ajoutée, ou énervés devant un outil au fonctionnement incompréhensible et peu intuitif. Si vous comptez sur une année, le nombre d'heures passées à contourner ces problèmes et que vous le ramenez à votre taux horaire... le montant peut vite s'avérer astronomique.</p>
          <p>Donc oui, nous pouvons vous accompagner sur la réflexion et la mise en place d'un outil qui pourra améliorer l'efficacité de votre activité ou automatisera certaines tâches, et qui rendra surtout vos collaborateurs heureux. Nous sommes convaincus que vous bénéficierez d'un réel retour sur investissement.</p>
        </div>
      </div>
      <div class="card-p-bottom mb-5 trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">Comment puis-je vous poser une autre question ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Ecrivez-nous ! Nous serons ravis de vous répondre dans les plus bref délais.</p>
          <a class="contact-email mb-4" href="mailto:contact@yusa.digital" style="color: white;">contact@yusa.digital</a>
        </div>
      </div>
    </div>
  </div>
</div>
