<div class="full-width bg-dark bottom-space">
  <div class="content-container pb-3">
    <div class="left-align-80">
      <h3 class="bottom-space top-space big-title">FAQ</h3>
      <div class="card-p-bottom trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">Qu'est ce qui nous différencie d’un cabinet de conseil traditionnel ?</h3>
          <i class="fas fa-caret-down fas-stylized trigger-active"></i>
        </div>
        <div class="todeploy">
          <p>Nous faisons partie de ces nouvelles structures qui souhaitent moderniser l'approche du conseil en management.</p>
          <p>Passés par des cabinets généralistes et traditionnels, passionnés par les nouvelles technologies et les méthodologies de conception innovantes, nous souhaitons mettre en oeuvre une nouvelle approche de l'accompagnement digital, mixant stratégie et expérimentation.</p>
        </div>
      </div>
      <div class="card-p-bottom trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">Le Design Sprint peut-il vraiment faire émerger des idées innovantes ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Concrètement, oui ! Le Design Sprint est un fabuleux outils pour générer des idées et tester rapidement un produit, avant même d'écrire la moindre ligne de code. C'est également une méthode qui permet d'accélérer le processus de décision et de créer une vraie dynamique d'équipe.</p>
          <p>Mais le Design Sprint n'est pas magique : il repose sur la rigueur de son organisation et la participation active de l'équipe. Vous ne savez pas si votre projet peut s'intégrer à un Design Sprint ? Parlons-en 🙂</p>
        </div>
      </div>
      <div class="card-p-bottom trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">Où sommes-nous localisés ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Nous sommes basés à Marseille, mais nous intervenons là où nos clients se situent. En présentiel ou en remote, nos méthodologies s'adaptent à vos conditions et vos besoins.</p>
        </div>
      </div>
      <div class="card-p-bottom trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">En quoi notre méthodologie est efficace ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Nos expériences diverses auprès de clients grands comptes et de jeunes start-ups nous ont permis d'identifier les leviers qui transforment une idée en succès. Nous avons donc choisi de rassembler sous une même offre l'ensemble de ces leviers.</p>
          <p>Chez Yusa, nous vous aidons à façonner vos idées par des dispositifs d'expérimentation et de validation. En ce sens, nous accentuons nos efforts sur la recherche utilisateur et le prototypage d'interfaces. Nous ajustons nos travaux en fonction des retours que nous obtenons, pour délivrer un produit répondant parfaitement aux attentes de vos utilisateurs.</p>
        </div>
      </div>
      <div class="card-p-bottom trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">Travaillons-nous aussi avec des entreprises de petites tailles ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Nous avons l'habitude de collaborer avec tout type d'organisation. Nous accompagnons évidemment des start-ups, des petites sociétés, comme des entreprises de taille intermédiaire.</p>
          <p>En tant que professionnel du digital, nous sommes très investis auprès des fondateurs de start-ups et entrepreneurs. Nous nous impliquons à 100% dans chaque mission et privilégions les rapports humains plutôt que les prestations en silo et impersonnelles.</p>
        </div>
      </div>
      <div class="card-p-bottom trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">Quels sont nos domaines d'expertises ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>L'expérience utilisateur est le pilier fondateur de notre activité. Historiquement spécialisés dans la conception de produits digitaux, notre expérience nous a montré qu'il ne servait à rien de réaliser des roadmaps à long terme tant que le produit n'avait pas été validé par ses utilisateurs.</p>
          <p>Nous maîtrisons les domaines de compétence du Product Management et de l'UX/UI Design. A cela, nous avons déployé nos propres méthodologies et processus de conception pour accélérer la concrétisation d'idées et automatiser certaines tâches à faibles valeur ajoutée.</p>
        </div>
      </div>
      <div class="card-p-bottom mb-5 trigger">
        <div class="card-p-bottom-title pointer">
          <h3 class="p-bold">Comment nous poser une autre question ?</h3>
          <i class="fas fa-caret-down fas-stylized"></i>
        </div>
        <div class="todeploy" style="display: none">
          <p>Ecrivez-nous ! Nous serons ravis de vous répondre dans les plus brefs délais.</p>
          <a class="contact-email mb-4" href="mailto:contact@yusa.digital" style="color: white;">contact@yusa.digital</a>
        </div>
      </div>
    </div>
  </div>
</div>
