<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>

    <div class="bg-black full-screen">
      <%= yield %>
      <div class="footer-landing description">
        <p>YUSA.DIGITAL  -  COPYRIGHT © 2020  -  MARSEILLE <br> ALL RIGHTS RESERVED </p>
      </div>
    </div>
  </body>
</html>
