<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <%= yield %>
    <section id="footer-landing" class="description">
      <p>YUSA.DIGITAL  -  COPYRIGHT © 2020  -  MARSEILLE <br> ALL RIGHTS RESERVED </p>
    </section>
    <!-- </div> -->
    <%= javascript_pack_tag "application" %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  </body>
</html>
